<h2>What is <em>hot</em> right now?</h2>
<div id="top_reads">
</div>
<% if user_signed_in? %>
<div class="link_submission">
  <h3>Submit a link!</h3>
  <label for="link_title">Title</label>
  <input type="text" id="link_title" name="link_title" value="">
  <br>
  <label for="link_url">URL</label>
  <input type="text" id="link_url" name="link_url" value="">
  <button type="button" name="button" id="submit_link">Submit link</button>
</div>
<br>
<span>Search</span><input type="text" id='search_links' name="" value="">
<h3>Your links</h3>
<span>Show only unread links?</span><input id='read_filter' type="checkbox" name="" value="">
<br>
<span>Show only read links?</span><input id='unread_filter' type="checkbox" name="" value="">
<div id="links_list">
<% @links.each do |link| %>
  <%= render partial: "link", locals: {link: link} %>
<% end %>
</div>
<% end %>
